@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
  --padding-inline: 1rem;
  --content-max-width: 940px;
  --breakout-max-width: 1160px;

  --primary-color: #ffcfd2;
  --secondary-color: #e38f8f;
  --tertiary-color: #ff5bb4;
  --quartary-color: #973369;
  --white-color: #feeeef;
  --black-color: #090909;

  --font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-montserrat: 'Montserrat', 'Montserrat Fallback';
}

*,
::after,
::before {
  box-sizing: border-box;
}

*:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 14px;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;

  background-color: var(--white-color);

  color: var(--black-color);
  font-family: var(--font-montserrat), var(--font-sans-serif);

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

hr {
  box-sizing: content-box;

  margin-block: 1rem;

  height: 0;

  color: rgba(112, 112, 112, 0.16);

  overflow: visible;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

img,
svg {
  display: block;
}

button {
  margin: 0;

  overflow: visible;

  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#scroll-top {
  position: fixed;
  inset-block-end: 20px;
  inset-inline-end: 20px;

  padding: 0.75rem;

  opacity: 0;

  z-index: 100;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.container > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.container > .breakout {
  grid-column: breakout;
}

.container > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.solid-background {
  position: relative;

  background-color: var(--primary-color);
}

.solid-background .section-ending {
  position: absolute;
  bottom: -80px;

  color: var(--primary-color);

  transform: rotateX(180deg);
}

a {
  color: var(--black-color);
  text-decoration: none;

  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;

  padding-block: 1rem;

  background-color: var(--white-color);

  transition: backdrop-filter 0.4s ease, box-shadow 0.4s ease;
  will-change: backdrop-filter, box-shadow;
}

.header.header--scrolled {
  backdrop-filter: blur(10px);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header__layout {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

nav {
  display: none;

  margin-left: auto;

  background-color: var(--white-color);
}

@media (min-width: 768px) {
  nav {
    display: block !important;
  }
}

nav.opened {
  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100dvh;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: max(2vw, 1rem);

  margin: 0;
  padding: 0;

  list-style: none;
}

nav.opened ul {
  flex-direction: column;
}

.header__layout button {
  z-index: 20;

  margin-left: auto;
  padding: 0.5rem 0.75rem;

  background-color: transparent;
  border-width: 0;

  color: var(--quartary-color);

  cursor: pointer;
}

.header__layout:has(:not(nav.opened)) #close-nav {
  display: none;
}

.header__layout:has(:not(nav.opened)) #open-nav {
  display: block;
}

.header__layout:has(nav.opened) #close-nav {
  display: block;
}

.header__layout:has(nav.opened) #open-nav {
  display: none;
}

@media (min-width: 768px) {
  .header__layout button {
    display: none !important;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.75rem;

  border: 2px solid var(--quartary-color);
  background-color: var(--quartary-color);
  border-radius: 2rem;

  color: var(--white-color);
  font-size: 1rem;
  font-feature-settings: inherit;

  transition: background 0.4s, color 0.4s, border-color 0.4s;

  cursor: pointer;
  user-select: none;
  outline-color: transparent;
}

.button:hover {
  background-color: transparent;

  color: var(--black-color);
}

nav a:not(.button) {
  position: relative;

  display: inline-block;

  padding-inline: 0.2rem;

  transition: color 0.3s ease;
}

nav a {
  font-weight: 500;
  text-transform: uppercase;
}

nav a:not(.button)::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: -2px;

  height: 2px;
  width: 100%;

  background-color: var(--secondary-color);

  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s ease;
}

nav a:not(.button):hover::before {
  transform: scaleX(1);
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  scroll-margin-top: 6rem;
}

section {
  margin-bottom: 6rem;
}

h1,
h2,
h3,
h4,
h5,
.h6,
h6 {
  margin-top: 0;
  margin-bottom: 2.5rem;

  line-height: 1.2;
  font-weight: 600;
  color: var(--black-color);
}

h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}

.h6,
h6 {
  margin-bottom: 1.5rem;

  font-size: 1rem;
  color: var(--quartary-color);
  text-transform: uppercase;
}

.services .wrapper {
  width: 100%;

  background-color: var(--primary-color);
  background-image: url('/public/tooth.svg');
  background-repeat: no-repeat;
  background-position: 120% center;
  background-attachment: fixed;
  background-size: auto 250px;

  border-bottom-left-radius: 80px;
}

@media (min-width: 768px) {
  .services .wrapper {
    background-size: auto 340px;
    background-position: 100% center;
  }
}

@media (min-width: 991px) {
  .services .wrapper {
    background-position: center center;
    background-attachment: initial;
  }
}

@media (min-width: 991px) {
  .services .wrapper {
    width: 80%;
  }
}

.introduction {
  position: relative;
  width: 100%;

  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 768px) {
  .introduction {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 7rem;
  }
}

.introduction h2,
.introduction .h6,
.introduction p {
  max-width: 350px;
}

.introduction .button {
  margin-top: 2rem;
}

.introduction__image {
  position: relative;

  margin-top: 4rem;

  min-width: 270px;
  width: 100%;
  max-width: 700px;
  min-height: 270px;
  max-height: 600px;
  height: 600px;

  background-image: url('https://placehold.co/550x600');
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;

  color: #fff;
}

@media (min-width: 991px) {
  .introduction__image {
    position: absolute;
    top: 40px;
    right: -25%;

    margin-top: 0;

    width: 40vw;
    min-width: 270px;
    max-width: 425px;
    height: calc(100% - 80px);

    border-bottom-left-radius: 0;
    background-size: initial;
  }
}

.introduction__image svg {
  display: none;
}

@media (min-width: 768px) {
  .introduction__image svg {
    display: block;

    position: absolute;
    right: -40px;
    top: 50px;
  }
}

.section-description {
  position: relative;
  z-index: 0;

  margin-inline: auto;

  max-width: 690px;

  text-align: center;
}

.section-description .h6,
.section-description h2 {
  z-index: 0;
}

.section-description .h6::before {
  content: '';

  position: absolute;
  top: -25px;
  left: 0px;
  right: 0px;
  z-index: -1;

  margin-inline: auto;

  width: 140px;
  height: 120px;

  background-image: url('/public/tooth.svg');
  background-size: 140px 120px;
}

.section-description.light-background .h6::before {
  background-image: url('/public/tooth-dark.svg');
}

.section-description h2 {
  margin-bottom: 4rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;

  margin-top: 4rem;
}

.services-list .service {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  width: 100%;
}

.service__image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  aspect-ratio: 1;

  background-color: var(--white-color);
  border-radius: 100%;
}

.service__label {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5;
}

.pricing {
  position: relative;
}

.pricing .section-ending {
  position: absolute;
  bottom: 50px;
  color: var(--white-color);
}

.pricing-per-service {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  padding-block: 5rem;
  padding-inline: 3rem;

  background-color: var(--primary-color);

  border-top-right-radius: 150px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 200px;
}

@media (min-width: 768px) {
  .pricing-per-service {
    padding: 5rem;
  }
}

.pricing-service {
  display: flex;
  flex-direction: column;

  padding-block: 1rem;
}

@media (min-width: 768px) {
  .pricing-service {
    flex-direction: row;
  }
}

.pricing-service:first-of-type {
  padding-top: 0;
}
.pricing-service:last-of-type {
  padding-bottom: 0;
}

.pricing-service:not(:last-of-type) {
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid rgba(112, 112, 112, 0.16);
}

.pricing-service .column:nth-of-type(1) p:last-of-type {
  margin-bottom: 0;
}

.pricing-service .column:nth-of-type(2) {
  text-align: right;
}

@media (min-width: 768px) {
  .pricing-service .column:nth-of-type(1) {
    width: 60%;
  }

  .pricing-service .column:nth-of-type(2) {
    width: 40%;
  }
}

.pricing-service p {
  font-size: 0.9rem;
}

.pricing-service h6,
.pricing-service .price {
  letter-spacing: 1px;
}

.pricing-service .price {
  margin-top: 2rem;

  font-size: 1rem;
  font-weight: bold;
  color: var(--quartary-color);
}

@media (min-width: 768px) {
  .pricing-service .price {
    margin-top: 0;
  }
}

.pricing-service .price span {
  font-weight: normal;
}

.questions-answers {
  margin-top: 4rem;
}

.pricing .button {
  margin-top: 7rem;
  margin-bottom: 5rem;
  margin-inline: auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 1rem;

  width: 100%;

  background-color: var(--primary-color);
  border-radius: 1rem;
}

.accordion button {
  margin: 0;

  border-width: 0;
  background-color: transparent;

  color: var(--black-color);
  text-align: left;

  cursor: pointer;
}

.accordion__title {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 1.5rem;
  padding-inline: 1.75rem;

  width: 100%;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.9rem;
}

.accordion__title svg {
  transition: transform 0.4s ease;
  will-change: transform;
}

.accordion:has(.accordion__content:not(.accordion__content--hidden))
  .accordion__title
  svg {
  transform: rotate(180deg);
}

.accordion__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  max-height: 3000px;

  overflow: hidden;

  opacity: 1;

  transition: opacity 0.4s ease, max-height 0.4s ease;
  will-change: opacity, max-height;
}

.accordion__content--hidden {
  max-height: 0px;

  opacity: 0;
}

.accordion__content p {
  padding-inline: 1.75rem;
}

.accordion__content a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--quartary-color);
}

.gdpr p + h2 {
  margin-top: 4rem;
}

.gdpr a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--quartary-color);
}

footer .container:first-of-type {
  padding-top: 5rem;

  background-color: var(--primary-color);
}

footer h2 {
  color: var(--quartary-color);
}

footer .container:last-of-type {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

footer .container:first-of-type + svg {
  color: var(--primary-color);
  transform: rotateX(180deg);
}

footer .grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;

  padding-bottom: 1rem;

  width: 100%;
}

.grid .col {
  flex: 0 1 0;
  flex-basis: 100%;
  min-width: 300px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .grid .col {
    flex-basis: calc(33.333% - 4rem);
  }
}

address {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}

.email {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
}

.telephone {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2;
}

.email,
.telephone {
  color: var(--quartary-color);
}

.business-hours {
  padding: 2rem;

  background-color: rgba(254, 238, 239, 0.5);
  border-radius: 10px 70px 10px 70px;
}

.business-hours .content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 9rem;
  margin: 0 auto;
}

.business-hours .content p {
  font-weight: 700;
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-top: 1rem;
}

@media (min-width: 992px) {
  footer .links {
    align-items: flex-start;

    padding-left: 4rem;
  }
}

footer .button {
  padding: 1rem 2rem;

  width: fit-content;

  font-weight: 600;
}

footer .button--text {
  color: var(--quartary-color);
  background-color: var(--white-color);
  border-color: var(--white-color);
}

footer .button--text.button--inverted {
  color: var(--quartary-color);
  background-color: var(--primary-color);
  border-color: var(--white-color);
}

footer .button--text:hover {
  color: var(--black-color);
  background-color: var(--primary-color);
}

footer .button--text.button--inverted:hover {
  background-color: var(--white-color);
}

footer .socials {
  display: flex;
  margin-top: auto;
  align-items: center;
  gap: 1rem;

  padding-top: 1rem;
}

.socials h3 {
  margin-bottom: 0;

  color: var(--quartary-color);
}

.socials a {
  padding: 1rem;

  background-color: rgba(151, 125, 133, 0.2);
  border-radius: 50%;

  color: var(--quartary-color);

  transition: background-color 0.4s ease;
  will-change: background-color;
}

.socials a:hover {
  background-color: rgba(151, 125, 133, 0.3);
}

.tin,
.trademark {
  color: var(--quartary-color);
}

.tin {
  font-weight: 600;
}
